@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.mainContainer {
  position: relative;
  background-color: #f6f4ef;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 75px;
  align-items: stretch;
  justify-content: flex-start;
  overflow: scroll;
  overflow-x: hidden;
}

h1 {
  position: relative;
  color: #222222;
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  font-size: 64px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-family: "Roboto", sans-serif;
  margin: 5px;
}

h3 {
  font-family: "Nunito";
  color: #6e6e6e;
  margin: 5px;
  font-weight: 600;
}

/* Navigation */
.headNav {
  position: relative;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

#title {
  padding: 25px;
}

#nav {
  padding: 10px;
  margin: 20px;
}

.navBtn,
.mainNavBtn {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.mainNavBtn {
  background-color: #222222;
  color: #ffffff;
  border: none;
}

.navBtn {
  border: 1px solid #ded9cf;
  background-color: #e8e4db;
  color: #4f4f4f;
}

.navBtn:hover {
  border: 1px solid #222222;
  background-color: #222222;
  color: #ffffff;
  transition: all 600ms;
}

/* Intro */
.introBio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introBio p {
  color: #222222;
  font-family: "Nunito";
  font-size: 20px;
  width: 30%;
  padding: 20px;
}

.profilePic {
  width: 20%;
  height: 20%;
  border-radius: 10px;
  align-items: center;
  margin-right: 40px;
}

/* Experience Section */
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience h1 {
  padding-bottom: 20px;
}

.experienceContent {
  width: 30%;
  /* margin: 10px; */
  padding: 20px;
  /* border-top: 1px solid #222222; */
}

.experienceContent p {
  font-family: "Nunito";
  color: #6e6e6e;
}

.experienceLogo {
  width: 10%;
  height: 10%;
}

.experienceTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #7f7f7f;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #222222;
  margin: 0;
  padding-left: 10px;
}

em {
  font-weight: 400;
}

/* Media Queries */
/* @media (max-width: 600px) {
} */
